* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.game {
  height: 100vh;
  background: linear-gradient(
    rgba(212, 210, 211, 0.952),
    rgba(250, 236, 243, 0.932)
  );
}
.game-box {
  max-width: 1200px;
  margin-inline: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid > *:first-child {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}
.grid > *:nth-child(2n) {
  grid-column: 1 / span3;
  grid-row: 4 / span4;
}
.grid > *:nth-child(3n) {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}
.grid .word {
  display: flex;
}
.letterBtn {
  height: 60px;
  width: 60px;
  margin: 5px;
  color: black;
  border-radius: 0.5em;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}
.letterBtn:hover {
  transform: scale(1.02);
}

.box {
  border: black 2px solid;
  border-radius: 5px;
  margin: 20px;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 3rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
.pressed {
  background-color: grey;
  transform: scale(0.96);
  cursor: default;
  border: none;
}
.pressed:hover {
  cursor: default;
  transform: none;
}

.win {
  z-index: 100;
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
}
.lose {
  z-index: 100;
  background-color: rgb(68, 20, 20);
  height: 100vh;
  width: 100vw;
}
